doctype html
html
  head
    title= title
    meta(name="viewpoint", content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="./bootstrap/css/amelia.bootstrap.css")
  body
    block content
    script(src="./bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/jquery-1.11.1.min.js")
